@import url(fontface/fontface.css);

body {
  font-family: "Almarai", sans-serif;
  background-color: #f5f5f9;
}

/* =========================== Scrollbar =========================== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

/* =========================== Global =========================== */
.trancate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trancate-4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trancate-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.gray-hover {
  transition: 250ms;
}

.gray-hover:hover {
  background-color: #f0f0f0;
}

.opacity-hover {
  opacity: 0.75;
  transition: 250ms;
}

.opacity-hover:hover {
  opacity: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-out {
  from {
    opacity: 1;
  } to {
    opacity: 0;
  }
}

@keyframes zoom {
  0% {
    scale: 1;
  } 50% {
    scale: 1.15;
  } 100% {
    scale: 1;
  }
}

input {
  outline: none;
}

.btn {
  box-shadow: none !important;
}

.btn:focus {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

/* =========================== Components =========================== */
.screen-overlay {
  background: #0005;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.25s;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  max-width: 100%;
  height: 100vh;
  z-index: 9;
  transition: 0.35s;
}

.side-menu-closed {
  left: -525px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 25px;
}

.datetime-input {
  position: relative;
}

input[type="datetime-local"] {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

.datetime-input input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}