@import url(fontface/fontface.css);

body {
  font-family: "Almarai", sans-serif;
  background-color: #f5f5fa;
}

/* =========================== Scrollbar =========================== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

/* =========================== Global =========================== */
.trancate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trancate-4 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trancate-7 {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.gray-hover {
  transition: 250ms;
}

.gray-hover:hover {
  background-color: #f0f0f0 !important;
}

.dark-hover {
  transition: 250ms;
}

.dark-hover:hover {
  background-color: #333 !important;
}

.opacity-hover {
  opacity: 0.75;
  transition: 250ms;
}

.opacity-hover:hover {
  opacity: 1;
}

.reverse-opacity-hover {
  opacity: 1;
  transition: 250ms;
}

.reverse-opacity-hover:hover {
  opacity: 0.75;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 25px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

input {
  outline: none;
}

.btn {
  box-shadow: none !important;
}

.btn:focus {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
