@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');

body {
  font-family: 'Almarai', sans-serif;
  background-color: #f5f5f5;
}

.task-hover:hover {
  background-color: #f1f1f1;
}

.icon-hover:hover {
  cursor: pointer;
}

.trash-icon-hover:hover {
  cursor: pointer;
  opacity: 1 !important;
}
